<!DOCTYPE html>
<html>
<head>
  <title>Instabear</title>
</head>
<body>
<h1>Fur Humidity Report Worldwide</h1>

<h5>London</h5>
<p><%= @london_humidity %> % fur humidity in London</p>
<p><span id="big-bear-city"><%= @big_bear_city %></span> % fur humidity in Big Bear City, California </p>

</body>
</html>
